.nav{
	margin-left:20%;
	
}


body{
	margin-top: 5%;
	font-family:arial !important;
	margin:7%;
	line-height: 30px;
}

h1,h2,h3{
	color:#337ab7;
}

body ul{
	list-style: none;
}

.bold{
	font-weight: bold;
	color: #337ab7;
}

.list-box{

	
	border-right:0px;
	border-bottom:0px; 
	border-left:0px;
	border-top:0px;
	border-style:solid;
	margin:2px;
	padding:10px;
	min-height: 150px;
	border-color:#337ab7;
	line-height: 20px;
	margin-top:15px;
	text-align: left;
}

.noColor{
	color:black;
}
 .auteur{
 	text-align:center;
}

.navbar-default .navbar-nav > li > a:hover{

	color: #337ab7;

}

hr{
	color: #337ab7;
	background-color:#337ab7;
	border-color: gray;
}

.motivation{

	text-align:left;
	width:50%;
	margin-left:25%;
	
	
}

.lien{
	display:inline;
}